body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    width: 92%;
    margin: 0 auto;
}

/* banner part css  */
#banner {
    margin-top: 50px;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}

.banner-left,
.banner-right {
    width: 48%;
}

.banner-left {
    position: relative;
    /* height: 100%; */
}

.banner-inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-left h2 {
    padding-left: 50px;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    line-height: 60px;
}

.banner-left p {
    padding-left: 50px;
    color: white;
    font-size: 16px;
    padding-right: 65px;
    margin-top: 20px;
}

.banner-left .button {
    display: inline-flex;
    height: 40px;
    width: 200px;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    font-size: .8em;
    padding: 10px 0px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 30px;
    background-color: #a71717;
    border-radius: 6px;
}

.btn-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-icon a {
    color: white;
    font-size: 2vh;
}

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-2 a {
    position: relative;
    transition: all .35s ease-Out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-2:hover #slide {
    left: 0;
}

#button-2:hover a {
    color: #2D3142;
}

#button-2:hover .btn-icon path {
    stroke: #2D3142;
}

.icon {
    z-index: 9;
}

.banner-right img {
    width: 100%;
}

/* nav part and match details css  */

#match-details {
    margin-top: 120px;
    display: flex;
    gap: 20px;
}

#match-details nav {
    width: 312px;
    background-color: black;
    flex-grow: 0;
    height: fit-content;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

nav ul li button {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: none;
    margin: 0 20px;
}

nav ul li:nth-child(2) {
    margin: 30px 0px;
}

.upcoming-match {
    background-color: #a71717;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.vs-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0px 20px;
}

.vs {
    font-size: 16px;
    font-weight: 600;
}

/* aside match css  */

aside {
    width: 100%;
}

.match-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.details button {
    margin-top: 10px;
    background-color: white;
    padding: 5px 18px;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 4px;
}

.details {
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
}

.details h4 {
    margin-top: 10px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 500px;
}

.details p {
    margin-top: 10px;
    padding-top: 0px;
    font-size: 14px;
    color: #4b4c4e;
}

.time {
    margin-left: 20px;
}

.left-space {
    margin-left: 5px;
}

/* footer part css  */
footer {
    background-color: #161616;
}

footer h2 {
    text-align: center;
    margin-top: 70px;
    padding: 130px 0px 50px 0px;
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.others {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 40px;
}

.social-icons {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 40px;
}

.others a {
    color: #B9B9B9;
}

.fa-facebook,
.fa-pinterest,
.fa-linkedin {
    font-size: 40px;
    color: white;
}

.more-btn {
    display: none;
}


/* for mobile resposive  */

@media screen and (max-width: 688px) {
    #banner {
        display: flex;
        flex-direction: column;
    }

    .banner-left {
        position: static;
    }

    .banner-inner-content {
        position: static;
        top: 0;
        transform: translateY(0%);
        text-align: center;
    }

    .banner-left,
    .banner-right {
        width: 100%;
    }

    .banner-inner-content h2 {
        font-size: 3.5vh;
        padding-left: 0px;
        margin: 50px 22px;
        line-height: 37px;
    }

    .banner-left p {
        padding-left: 50px;
        color: white;
        font-size: 1.5vh;
        padding-right: 65px;
        margin-top: 20px;
    }

    .banner-left .button {
        margin-left: 0px;
    }

    /* match details and nav  */

    #match-details {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 10px;
    }

    #match-details nav {
        width: 100%;
        background-color: white;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px;
    }

    nav ul li button {
        width: 100%;
        padding: 5px 30px;
    }

    nav ul li:nth-child(2) {
        margin: 15px 0px;
    }

    .match-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .match {
        width: 100%;
    }

    .others {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 688px) and (max-width: 992px) {

    #banner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .banner-left {
        position: relative;
    }

    .banner-inner-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .banner-inner-content h2 {
        font-size: 4vw;
        line-height: 30px;
        padding-left: 0px;
        color: green;
        text-align: left;
        margin-left: 50px;
    }

    .banner-inner-content p {
        font-size: 1.5vw;
        text-align: left;
        overflow: hidden;
    }

    #match-details nav {
        width: 100%;
        background-color: white;
    }

    #match-details {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 10px;
    }

    .banner-left .button {
        margin-left: 50px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .banner-inner-content {
        text-align: left;
    }

    nav ul li {
        width: 32%;
    }

    nav ul li button {
        width: 100%;
        padding: 5px 30px;
    }

    .match-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .match-tab {
        display: none;
    }

    .more-btn {
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    .more-btn button {
        padding: 8px 20px;
        background-color: #a71717;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 17px;
    }

    .others {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        padding-bottom: 40px;
    }

    .more-btn {
        display: block;
        margin-top: 30px;
        text-align: center;
    }


}